<div class="comments">
  <div class="comments__wrap">

    <div class="comments__item" *ngFor="let comment of lesson.comments">
      <div class="comments__photo"></div>
      <div class="comments__info">
        <span class="comments__name">{{ comment.author.firstName + ' ' + comment.author.lastName}}</span>
        <span class="comments__text">{{ comment.comment.text }}</span>
        <span class="comments__time">{{ comment.comment.time }}</span>
      </div>
      <hr class="comments__separator">
    </div>

    <!--<div class="comments__item">
      <div class="comments__photo"></div>
      <div class="comments__info">
        <span class="comments__name">Anna Dormund</span>
        <span class="comments__text">Отличный урок, спасибо!</span>
        <span class="comments__time">14:55 pm</span>
      </div>
      <hr class="comments__separator">
    </div>-->

    <p class="comments__next">Показать следующие комментарии</p>

    <form class="comments__form">
      <div class="comments__form-contour">
        <div class="comments__clip"></div>
        <input type="text" name="comment" class="comments__input" placeholder="Написать комментарий...">
      </div>
      <button type="submit" class="comments__btn"></button>
    </form>

  </div>
</div>
