@import "../../commons/styles/main";

.left-side-bar {
  display: inline-block;
  width: 225px;
  background: @left-side-ground;
}

@media (max-width: 1440px) {
  .left-side-bar {
    display: none;
  }
}
