@import "../../commons/styles/main";

.lesson-card {
  border-radius: 10px;
  box-shadow: 0 -4px 7px rgba(238, 238, 238, .25),
    0 4px 7px rgba(238, 238, 238, .25),
    -4px 0 7px rgba(238, 238, 238, .25),
    4px 0 7px rgba(238, 238, 238, .25);
  height: 660px;
  margin: 34px auto 0;
  padding: 30px;
  position: relative;
  width: 770px;

  &::after {
    content: url("~src/assets/icons/close.svg");
    cursor: pointer;
    background: @white-color;
    border-radius: 50%;
    box-shadow:
      4px 0 4px rgba(204, 204, 204, .25),
      0 -4px 4px rgba(204, 204, 204, .25);
    height: 30px;
    line-height: 35px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -12px;
    width: 30px;
  }

  &__img {
    background: url('~src/assets/img/lesson_img_1.jpg');
    display: inline-block;
    height: 190px;
    margin-right: 20px;
    vertical-align: bottom;
    width: 190px;
  }

  &__details {
    display: inline-block;
    vertical-align: bottom;
  }

  &__title {
    .font(18; @title-color; false; 18; 700);
  }

  &__name {
    margin: 2px 0 6px;
    .font(24; @name-color; false; false; 600);
  }

  &__name-eng {
    .font(18; @text-color; false; 18; 400);
  }

  &__level {
    display: block;
    margin: 12px 0 31px 0;
    .font(12; @level-color; false; 12; 400);
  }

  &__text {
    margin: 21px 0;
    .font(14; @text-color; false; 22; 400);
  }

  &__separator {
    background: @separator-color;
    border: none;
    height: 1px;
  }

  &__menu {
    display: inline-block;
    list-style-type: none;
    margin: 0 14px;
    padding: 0;
    position: relative;

    &::before {
      content: '';
      background: @separator-color;
      bottom: 0;
      height: 1px;
      left: 15px;
      position: absolute;
      width: 340px;
      z-index: -1;
    }
  }

  &__menu-item {
    align-items: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    padding: 13px 9px;
    text-align: center;
    .font(14; @level-color; false; 14; 400);

    &_selected {
      border-bottom: solid 2px @title-color;
      font-weight: 500;
    }
  }

  &__btn {
    background: @btn-ground;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 26px;
    margin: 7px;
    outline: none;
    width: 126px;
    .font(12; @white-color; false; 12; 500);
  }
}
