<div class="lesson-card">
  <div class="lesson-card__header">блок автора урока</div>
  <div class="lesson-card__img"></div>
  <div class="lesson-card__details">
    <span class="lesson-card__title">Урок</span>
    <h2 class="lesson-card__name">Фрукты и овощи</h2>
    <span class="lesson-card__name-eng">Fruits and vegetables</span>
    <span class="lesson-card__level">Средний уровень</span>
    <ul class="lesson-card__menu">
      <li class="lesson-card__menu-item lesson-card__menu-item_selected">Об уроке</li>
      <li class="lesson-card__menu-item">Содержание</li>
      <li class="lesson-card__menu-item">Упражнения</li>
    </ul>
    <button class="lesson-card__btn">Начать урок</button>
  </div>
  <p class="lesson-card__text">Решили выучить английский язык? Безусловно, вы сделали правильный выбор,
    ведь английский язык - главный язык международного общения. Ежедневно поддерживай форму! Используй словарный
    тренажёр всего. Ежедневно поддерживай форму! Используй словарный тренажёр всего...
  </p>
  <hr class="lesson-card__separator">
    блок статистики
  <hr class="lesson-card__separator">
    блок отзывов
  <hr class="lesson-card__separator">
</div>
