<div class="statistics">
  <div class="statistics__item">
    <div class="statistics__icon statistics__icon_like"></div>
    <span class="statistics__value">{{ lesson.stats.likesCount }}</span>
  </div>
  <div class="statistics__item">
    <div class="statistics__icon statistics__icon_comment"></div>
    <span class="statistics__value">{{ lesson.stats.commentsCount }}</span>
  </div>
  <div class="statistics__item">
    <div class="statistics__icon statistics__icon_share"></div>
    <span class="statistics__value">{{ lesson.stats.sharesCount }}</span>
  </div>
  <div class="statistics__gap"></div>
  <div class="statistics__item">
    <div class="statistics__icon statistics__icon_rating"></div>
    <span class="statistics__value statistics__value_color_yellow">{{ lesson.stats.rating }}</span>
  </div>
  <div class="statistics__item">
    <div class="statistics__icon statistics__icon_shows"></div>
    <span class="statistics__value statistics__value_color_blue">{{ lesson.stats.viewsCount }}</span>
  </div>
</div>
